@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
 :root{
    --primary-color:red;
 }
body{
    font-family: 'DM Sans', sans-serif
}
hr{
    margin: 1.5rem 0rem;
}
/**container**/
.fluid-container{
 padding-left: 1rem ;
 padding-right: 1rem;
}
.center-container{
max-width: 600px;
margin: auto;
}
/**Links**/
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.link-primary{
 background-color:var(--primary-color) ;
 border-radius: 0.5rem;
 color: white;
}
.link-secondary{
    color:var(--primary-color) ;
    border-radius: 0.5rem;
    border:1px solid var(--primary-color) ;

}
