@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

 
:root{
    --primary-color:#131313;
    --dark-gray:#3f63aa;
    
}
 
 .nav-brand{

    /* font-family: 'Rubik Wet Paint', cursive ; */
    font-family: 'Cinzel', serif;
 }
 hr{
    box-shadow: 0px 0px 2px  black;
 }
 .project-margin{
    padding-bottom: 50px;
 }
body{
    /* font-family: 'DM Sans', sans-serif; */
    margin: 0px;
    font-family: 'Quantico', sans-serif;
    
}
.homeGradient{
    background: linear-gradient(170.2deg, #ffffff 12.72%, #d5c4e4 58.73%, #c7ddf0 101.06%);
}
.blogGradient{
    background: linear-gradient(190.2deg, #ffffff 12.72%, #fafafa 58.73%, #bed0e6 101.06%);
}
.home-heading-grad{
    background: linear-gradient(700.2deg, #000000 12.72%, #c5c4c4 58.73%, #ccd2ec 101.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.project-heading-grad{
    background: linear-gradient(200.2deg, #000000 12.72%, #c5c4c4 58.73%, #ccd2ec 101.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.blog-heading-grad{
    background: linear-gradient(400.2deg, #000000 12.72%, #c5c4c4 58.73%, #ccd2ec 101.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

hr{
    margin: 1.5rem 0rem;
}
ul{
  list-style: none;
}
.linear-grad{
    background: linear-gradient( 480.2deg, #fc0606 12.72%, #7f07e2 58.73%, #c72222 101.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p{
    margin-right: 10px;
}

@keyframes my-animation {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
.Live{
    animation-name: my-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }




/**container**/
.container{
    letter-spacing: 2px;
}
.fluid-container{
 padding-left: 1rem ;
 padding-right: 1rem;
}
.center-container{
max-width: 600px;
margin: auto;
text-align: center;

}
/**Links**/
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    letter-spacing: 1px;
}

.link-primary{
 /* background-color:var(--primary-color) ; */
 border-radius: 0.5rem;
 color: white;

}
.link-primary:hover{
    background-color: white;
    color: var(--primary-color);
    transition: 0.1s linear;
}
.link-secondary{
    color:var(--primary-color) ;
    border-radius: 0.5rem;
    border:1px solid var(--primary-color) ;

   
}
.link-secondary:hover{
    color:white ;
    background-color: var(--primary-color);
    transition: 0.1s linear;
}
/**List**/
.list-non-bullet{
    list-style: none;
    padding-left: 0px;
}
.list-item-inline{
 display: inline;
 padding: 0rem 0.5rem;    
}
/**navigation**/
.navigation{
    /* background-color: rgb(63, 62, 62); */
    color: white;
    padding: 1rem ;
    box-shadow: 0px 0px 11px  rgb(219, 216, 216);
}
.navigation .nav-brand{
    font-weight: bold;
    font-size: 2.5rem;
    
}
.navigation .campus-color{
    /* color: #fb8500; */
    color: #fb8500;
}
.navigation .hippo-color{
    /* color: #ffb703; */
    color: #fb8500;
}
.navigation .nav-pills{
    text-align: center;
    margin: 0px;
}
.navigation .link{
    color: rgb(233, 229, 229);
    
}
.navigation .link-active{
    font-weight: bold;
}

/** Header **/
.hero{
  padding: 1rem;
}
.hero .hero-img{
    margin: auto;
    display: block;
    max-width: 350px;
}
.hero .hero-heading {
    /* color:var(--dark-gray); */
    padding-top: 2 rem;
    text-align: center;

    background: linear-gradient(480.2deg, #d33737 12.72%, #752fd8 58.73%, #72caec 101.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: 'Quantico', sans-serif;
}
.hero .hero-heading .heading-inverted{
    color: var(--primary-color);
}

.hero-blog.heading{
    font-size: xx-large;
    text-align: center;
    padding: 0rem; 
 }
 .hero-blog.padding{
    list-style: none;
 padding-inline-start: 0px;
 }
 .hero-blog.content{
    list-style: square;
    padding-inline-start: 30px;
 }
 .hero-blog.img1{
   text-align: center;
  
 }

.hero-blog.img2{
    max-width:100px;
    float: right;
}
 
/**Sections**/
.section{
    padding: 2rem;
}
.section h1{
    text-align: center;
}
.ow{
background-color: var(--off-white);
}
.blog-area{
    margin-bottom: 50px;
}

/**Footer**/
.footer{
    background-color: whitesmoke;
    padding: 1.5rem 4rem;
    text-align: center; 
    border-top-left-radius: 10rem;
    border-top-right-radius: 10rem;
    box-shadow: 0px 0px 5px  black;
}
.footer .link{
    color:white;
    padding: 12px;
}
.footer ul{
    padding-inline-start: 0px;
}
.footer .footer-header{
    font-weight: bold;
    font-size: large;
}
.imagef {
    width: 40px;

  }
  .footer-inline{
    list-style: none;
    margin-bottom: 0px;
  }
  .footer-inline2{
    display: inline; 
    width: auto;
  }
  